.upload-container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.upload-card {
    width: 25vw;
    height: 50vh;
    display: flex;
}